.app{
  text-align: center;
}

.app > div{
  margin: 30px 0;
}

.search-box{
  display: flex;
  justify-content: center;
  gap: 1em;
}

.profile-area{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 20px 0;
}
